[merge]
	tool = vimdiff
	conflictstyle = diff3
[user]
	email = tyler.kuipers@ama.ab.ca
	name = Tyler Kuipers
[mergetool]
	keepBackup = false
[alias]
	cleanup = ! find . -name \\*.orig -delete
	graph = log --oneline --pretty --decorate --graph
	branchprune = remote prune origin
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[credential]
	helper = cache
