{{ if eq .chezmoi.os "linux" -}}
    #!/bin/bash 
    sudo apt-get -y install fonts-font-awesome sway wofi
    git clone https://github.com/Alexays/Waybar
    cd Waybar
    meson build
    # If you want to install it
    sudo ninja -C build install
{{ else if eq .chezmoi.os "darwin" -}}
    #!/usr/bin/env bash
    source $HOME/.zshrc
    if [[ $(csrutil status | wc -l) -gt 2 ]]; then
        # Install yabai
        brew install koekeishiya/formulae/yabai
        sudo nvram boot-args=-arm64e_preview_abi
        sudo yabai --install-sa
        sudo yabai --load-sa
        brew services restart yabai
    

        brew tap FelixKratz/formulae
        brew install sketchybar
    fi
{{ end -}}
