#!/bin/sh
{{ if eq .chezmoi.os "darwin" -}}
source $HOME/.zshcr
{{end -}}
if [ ! -d "$HOME/.vim/bundle/Vundle.vim" ]
then
    curl -fLo ~/.vim/autoload/plug.vim --create-dirs \
        https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    vim +'PlugInstall --sync' +qa

fi

