{{ if eq .chezmoi.os "linux" -}}
    #!/bin/bash 
    cd /tmp
    wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/DroidSansMono.zip
    unzip -o DroidSansMono.zip -d droid
    cd droid
    sudo mkdir -p /usr/share/fonts/opentype/droid
    sudo cp * /usr/share/fonts/opentype/droid
    sudo fc-cache -f -v
{{ else if eq .chezmoi.os "darwin" -}}
    #!/usr/bin/env bash
    cd /tmp
    wget https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/DroidSansMono.zip
    unzip -o DroidSansMono.zip -d droid
    cd droid
    sudo mkdir -p /Library/fonts/opentype/droid
    sudo cp * /Library/fonts/opentype/droid
    sudo fc-cache -f -v
    #brew tap homebrew/cask-fonts
    #brew install --cask font-droid-sans-mono-nerd-font
    #sudo fc-cache -f -v
{{ end -}}
