{{ if eq .chezmoi.os "linux" -}}
    #!/bin/bash
    if oh-my-posh > /dev/null 2>&1 ; then
        echo "Oh My Posh installed, not installing"
    else
        echo "Installing Oh My Posh"
        {{ if eq .chezmoi.arch "amd64" -}}
            sudo wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-amd64 -O /usr/local/bin/oh-my-posh
        {{ else if eq .chezmoi.arch "arm64" -}}
            sudo wget https://github.com/JanDeDobbeleer/oh-my-posh/releases/latest/download/posh-linux-arm64 -O /usr/local/bin/oh-my-posh
        {{ end -}}
        sudo chmod +x /usr/local/bin/oh-my-posh
    fi
{{ else if eq .chezmoi.os "darwin" -}}
    #!/usr/bin/env bash
    source $HOME/.zshcr
    if oh-my-posh > /dev/null 2>&1 ; then
        echo "Oh My Posh installed, not installing"
    else
        echo "Installing Oh My Posh"
        brew install jandedobbeleer/oh-my-posh/oh-my-posh
    fi
{{ end -}}

